<html>
    <head>
        <title>
            Diary
        </title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h2>Your personal Diary</h2>
        <p class="center" id="date">{{ day }} {{ month }}, {{ year }}</p> <br>

        <form class="center" action="{{ url_for('addNotes')}}" method="POST">
            <textarea id="notesInput" name="notes">{{ preText }}</textarea>
            <br><br><br>
            <input id="submitButton" type="submit" value="Make Note">
        </form>
    </body>
</html>